body {
    background: url('../img/bg.png') repeat #cccccc;
    font-family: 'PT Sans', 'Tahoma', sans-serif;
}

#wrapper {
    background: url('../img/outer.png') repeat-y #ffffff;
}

#title {
    font-weight: bold;
    font-size: 40px;
    color: #f5b25b;
}

#desk {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    background: url('../img/desk-texture.png') #96f568;
}

#desk p {
    font-size: 16px;
    font-weight: bold;
    color: #ffee78;
}

/*Buttons*/

#buttons a {
    width: 80px;
    height: 80px;
}

#new-game {
    background: url('../img/new-game-sheet.png') 0 0;
}

#new-game:hover {
    background: url('../img/new-game-sheet.png') 0 160px;
}

#new-game:active {
    background: url('../img/new-game-sheet.png') 0 80px;
}

#request-more {
    background: url('../img/get-card-sheet.png') 0 0;
}

#request-more:hover {
    background: url('../img/get-card-sheet.png') 0 160px;
}

#request-more:active {
    background: url('../img/get-card-sheet.png') 0 80px;
}

#request-stop {
    background: url('../img/finish-sheet.png') 0 0;
}

#request-stop:hover {
    background: url('../img/finish-sheet.png') 0 160px;
}

#request-stop:active {
    background: url('../img/finish-sheet.png') 0 80px;
}

/*End Buttons*/

#message {
    padding: 2px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.won {
    color: blue;
}

.push {
    color: silver;
}

.lose {
    color: orange;
}

#footer {
    background: #505054;
}

#footer p {
    color: #ffffff;
}