@import 'reset.css';

html, body {
    height: 100%;
}

#wrapper {
    width: 720px;
    margin: 0 auto;
    min-height: 100%;
    padding: 0 5px;
}

#title {
    text-align: center;
}

#desk {
    margin: 20px 0 0 0;
    padding: 5px 10px;
    height: 480px;
}

#desk p {
    margin-bottom: 5px;
}

.player-cards {
    width: 700px;
    height: 145px;
}

#buttons {
    width: 270px;
    height: 100px;
    margin: 20px auto;
}

#buttons a {
    display: block;
    cursor: pointer;
    float: left;
    margin: 0 5px;
}

.description {
    float: left;
    width: 80px;
    margin: 0 5px;
    text-align: center;
}

#helper {
    height: 20px;
}

#footer {
    width: 720px;
    height: 20px;
    margin: -20px auto 0;
}

#footer p {
    padding-top: 2px;
    text-align: center;
}