#wrapper {
    width: 240px;
    margin: 100px auto;
}

p {
    margin: 4px 0;
    float: left;
}

#error {
    color: red;
}

form {
    margin-top: 15px;
}

input {
    float: right;
    margin: 4px 0;
}

.clear {
    clear: both;
}