table {
    margin: 20px auto;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    font-size: 18px;
}

table, td, th {
    border: 1px solid black;
}

th {
    background: #f0f0f0;
}